@import "/css/main.css";

.title {
    text-align: center;
    margin: 30px;
}


.row {
    margin: 50px 0;
    height: 500px;
    justify-content: center;
}

.card {
    margin: 20px auto;
    margin-left: 120px;
    width: 28%;
}

.card img {
    height: 96px;
    width: 100%;
}

.card-text {
    color: black;
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 100%;
    }

    .row {
        height: fit-content;
        height: auto;
        justify-content: center;
    }

    .card {
        margin: 20px;
        width: 80%;
    }
}