@import "/css/main.css";



.wrapper{
    margin: 0 auto;
    width: 250px;
    height: 250px;
}

.wrapper img{
    width: 250px;
    height: 250px;
}

.outherCircle{
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 30px;
}

.circleBorder{
    position: absolute;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 25px solid rgba(194, 214, 214, 0.5);
    top:50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
}

.infoCircle{
    position: absolute;
    background: rgba(240, 128, 128, 0.493);
    border-radius: 50%;
    width: 204px;
    height: 204px;
    transition: all 0.5s ease-in-out;
    top: 50%;
    left:-250px;
    margin: -102px 0px 0px -102px;
    text-align: center;
    color: aliceblue;
    
}

.outherCircle:hover .infoCircle{
    transition: all 0.5s ease-in-out;
    left: 50%;
}

.infoCircle span{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 50%;
}

.infoCircle a{
    color: aliceblue;
}

.title{
    margin: 30px;
    text-align: center;
}

@media screen and (max-width:320px){
    .outherCircle{
        overflow: hidden;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        position: relative;
        margin: 30px auto;
    }

}